@import "reset.css";

/* fonts */

@font-face {
  font-family: 'Roboto';
  src: url('assets/fonts/Roboto/Roboto-Thin.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Bold';
  src: url('assets/fonts/Roboto/Roboto-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Light';
  src: url('assets/fonts/Roboto/Roboto-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.wrapper {
  max-width: 1600px
}

/* HEADER */

.header {
  background-image: url(./assets/img/bg-image.png);
  height: 744px;
  color: #FFFFFF;

}

.navigation__ul {
  padding: 24px 0 0 153px;
  font-family: Roboto;
  font-size: 14px;
  line-height: 140%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  opacity: 0.8;
}

.navigation__ul li {
  margin-left: 85px;
}

.navigation__ul li img {
  margin: 0 18px;
}

header a {
  text-decoration: none;
  color: #FFFFFF;
}

.get-started h1 {
  margin-bottom: 21px;
  font-family: Roboto-Bold;
  font-weight: 100;
  font-size: 64px;
  line-height: 75px;
  align-items: center;
  text-align: center;
  letter-spacing: 4.5px;
}

.get-started {
  margin-top: 157px;
  margin-left: 254px;
  align-items: center;
  text-align: center;
  font-family: Roboto-Light;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 140%;
}

.get-started p {
  width: 500px;
  margin: 0 auto;
  font-size: 18px;
  line-height: 140%;
  letter-spacing: 0.12px;
}

header .get-started__button {
  padding: 15px 47px;
  position: absolute;
  width: 184px;
  height: 46px;
  left: 707px;
  top: 406px;
  background: #00AFDB;
  font-family: Roboto-Bold;
  font-size: 14px;
  border: none;
  color: #FFFFFF;

}

.social-links {
  display: flex;
  position: absolute;
  left: 685px;
  top: 635px;
  justify-content: center;
  align-items: center;
}

.social-links li {
  margin-left: 30px;
}
